/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
}

body{
    background-image: linear-gradient(rgb(19, 19, 19), rgb(65, 62, 60));
    background-repeat: no-repeat;
    /* height: 100%; */
}