<div class="home">
    <h1>
        Welcome to my portfolio website!
    </h1>

    <div class="homedescription">
        This site is both meant as a programming hobby project as well as my own portfolio website for creative stuff.

    </div>

    <div>
        <h2>List of features:</h2>
        
        <table>
            <tr>
                <th>Planned</th>
                <th>Implemented</th>
            </tr>
            <tr>
                <td>Grid CSS layout</td>
                <td>HTML base</td>
            </tr>
            <tr>
                <td>Basic description on each page</td>
                <td>Routing</td>
            </tr>
            <tr>
                <td>More convenient features checklist</td>
                <td>Add some drawings to gallery</td>
            </tr>
            <tr>
                <td>Loading images from database</td>
                <td></td>
            </tr>
        </table>
    </div>
</div>